<h1> You are in the show for services view</h1>

<% if @current_aide %>
    Welcome <%= "#{@current_aide.first_name}" %><br>
    Thanks for your interested in applying to our <%= @service.title %> position <br><br>
    <%= @service.sub_title %>  <br>
    As a <%=@service.title %> You will provide the following service <br>
    <%=@service.content_2 %> <br><br><br>
    Your work Schedule <br>
    <%=@service.work_schedule %><br> 
    Salary: <br>
    <%=@service.salary_content %><br><br>
    To qualified for this position, please make sure you can do the following <br>
    <%= @service.skills %><br><br><br>

    <%= link_to "Aide Apply now", new_contract_path %>

<% end %>




