<h1> You are in services index view</h1>

<% if @current_client %> 
    <% @services.map do |service| %>
        <li> Title: <br>
        <%= service.title %><br>
        <%= service.content_2 %> <br>
        Responsabilities: 
        <%= service.responsabilities %> <br>
        Work Schedule: 
        <%= service.work_schedule %> <br>
        Salary: 
        <%= service.salary_content %> <br>
        Skills for this services: <br>
        <%= service.skills %><br></li>
        <br> <br>
        <%= link_to "Explore Now", new_request_service_path %><br><br><br>
    <% end %>

<% else %>

    <% @services.map do |service| %>
        <li> Title: <br>
        <%= service.title %><br>
        <%= service.content_2 %> <br>
        Responsabilities: 
        <%= service.responsabilities %> <br>
        Work Schedule: 
        <%= service.work_schedule %> <br>
        Salary: 
        <%= service.salary_content %> <br>
        Skills for this services: <br>
        <%= service.skills %><br></li>
        <br> <br>
        <%= link_to "Explore Now", service_path(service) %><br><br><br>
    <% end %>

<% end %>        