<div class="customized-container">
    <div class="card-body">
        <h1 class="card-title text-center">All in Service of Family</h1> <br>
        <p class="card-text h4 text-center ">Comprehensive in-home assistance designed to excel every individuals, unique care</p>
    </div>
        <br><br>
        <% if @current_client %> 
            <div class="row row-cols-1 row-cols-md-2">
                <% @services.map do |service| %>
                    <div class="col mb-4">
                        <div class="card" id='card'>
                            <img src= <%= service.image_url_1 %> class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center h2"><%= service.title %></h5>
                                    <p class="card-text"><%= service.content_1 %></p>
                                    <h5 class="card-title text-center h5">We offer you ..</h5>
                                    <p class="card-text"><%= service.responsabilities %></p>
                                </div>
                            <%= link_to "EXPLORE", new_request_service_path, :class => "btn btn-primary"%>
                        </div>
                    </div>
                <% end %>
        <% else%>
            <div class="row row-cols-1 row-cols-md-2" >
                <% @services.map do |service| %>
                    <div class="col mb-4">
                        <div class="card" id='card' >
                            <img src= <%= service.image_url_1 %> class="card-img-top" alt="<%=service.title%>" id='img-card'>
                                <div class="card-body">
                                    <h5 class="card-title text-center h2"><%= service.title %></h5>
                                    <p class="card-text"><%= service.content_1 %></p>
                                </div>
                            <%= link_to "EXPLORE", new_client_path, :class => "btn btn-primary", :id =>'btn-design'%>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>  
</div>