<h1>This is your profile Master <%= @current_admin.first_name %> </h1>

ALL CLIENTS <br>

<% @clients.map do |client| %> 
<%= client.first_name %> <br>
<% end %>
<br><br><br> 
<hr>

ALL AIDES <br>
<% @aides.map do |aide| %> 
<%= aide.first_name %> <br>
<% end %>
<br><br><br> 
<hr>

ALL Contracts <br>
<% @contracts.map do |contract| %> 
Type of service required: <%=contract.title %> <br>
availability to start: <%= contract.availability_to_start %> <br>
Name of aide: <%= contract.aide.first_name %> <br>
Gender of Aide: <%= contract.aide.gender %> <br>
Pay rate looking for: $ <%= contract.pay_rate %>/ hr <br>
Location the aide lives in: <%= contract.aide.town_you_live_in %> <br>
Location the aide is willing to go work: <%= contract.aide.town_you_can_work %> <br>
Aide Certifications: <%= contract.aide.certifications %> <br>
<br><% end %>
<br><br>
<hr>

ALL people needing my help Request_services <br><br>
<% @request_services.map do |request_service| %> <br>
<% if request_service.request_jobs.count == 0 %>
Service: <%= link_to request_service.service.title, new_request_job_path %> <br>
Client Name: <%= request_service.client.first_name %> <br>
Client Age: <%= request_service.client.age %> <br>
Client Phone: <%= request_service.client.phone %> <br>
Client Location: <%= request_service.client.town_you_live_in%> <br>
Client Id: <%= request_service.client.id%> <br>

Client prefers to work with : <%= request_service.client.preference_on_aides %> aides <br>
    Hours requested: <%= request_service.hours %> a week <br>
            Comments: <%= request_service.comments %> <br>
            Location to execute this service: <%= request_service.location %> <br><br>
        
<% end %>
<% end %>

<br><br><br> 
<hr> 

<br><br>

Request_jobs already done so far <br><br>
 <% @request_jobs.map do |request_job| %> 
 Service: <%= link_to request_job.request_service.service.title, request_job_path(request_job) %> <br>
Aide: <%=request_job.aide.first_name %><br>
Aide Phone: <%=request_job.aide.phone %><br>
Client: <%= request_job.request_service.client.first_name %><br>
Client phone: <%= request_job.request_service.client.phone %> <br>
Hours approved for case: <%= request_job.hours %> Weekly <br>
Pay Rate approved for Aide $<%=request_job.pay_rate %> / hourly <br>
Starting_date: <%= request_job.starting_date %><br><br>
<% end %>



