<h1>This is the new for contract </h1>


<%= form_for @contract do |f| %>

  <%= f.label :service_id %>
  <%= f.collection_select :service_id, @services, :id, :title %><br/>
  <%= f.label :availability_to_start %>
  <%= f.date_select :availability_to_start %><br/>
  <%= f.label :pay_rate %>
  <%= f.number_field :pay_rate %><br/>
  
  

  <%= f.submit "Ready!" %>
<% end %>