
<div class="container">
    <h2>Welcome back Aide</h2>
        <% if @error %>
            <p><%= @error %></p>
        <% end %>
        <%# THE FORM BELOW MAKES A POST REQUEST TO "/send_the_form_here" %>
        <%= form_tag "/send_the_form_here/" do %>
            <strong><%= label_tag :first_name %></strong>
            <%= text_field_tag :first_name %><br>
            <strong><%= label_tag :password %></strong>
            <%= password_field_tag :password %><br>
            <%= submit_tag "Login!", :class => "btn btn-success" %>
        <% end %>
</div>