<div class='customized-container'>
    <div class='home-alignment'>
        <h1 class='home_header'>Igor care<br> where you come first </h1>
        <p>We are here with you, every single step of the way</p>
        <%= image_tag 'together.jpg', :id =>'together-img' %>

        <p class='sub-text'> Igor Care was founded as a response to the necessity of our community. Our mission is to provide the best health care to our clients, whether it is at home or in a nursing facility, we bring options to you.
        From nurses, therapists, aides in the home, to the hundreds of committed employees supporting thier work from our offices all around the New York City Metropolitan Area, giving you the best care is our highest priority and notable joy. </p>

        <div class="container" id='paragraph'>
            <div class="row">
                <div class="col-md-8">
                    <h1>Let us join you</h1>
                    <p>Choose from a family member, a close friend our one of our qualified aide to make your daily life a more joyful one</p>
                    <button><%= link_to 'Explore', services_path %></button>
                </div>
                <div class="col-md-4">
                    <%= image_tag 'close-friend.jpg', :id=>'close-friend' %>
                </div>
            </div>
        </div>

        <div class='container' id='paragraph'>
            <div class='row'>
                <div class="col-md-4">
                    <%= image_tag 'home-health-aide.jpg', :id=>'home-health-aide' %>
                </div>
                <div class="col-md-8">
                    <h1>Help us a change a life</h1>
                    <p>Join our team, and make a difference on someone's life, become a hero while getting higher pay rates.</p>
                    <button><%= link_to 'Explore', jobs_path %></button>
                </div>
            </div>
        </div>

        <p class='sub-text'> At Igor's Care we put our family first. Our heart is in everything we do. We exist to help people to have a safe life at home, this is not just our mission, but our vision, beliefs and core values that define our culture and embodies our essence at work. </p>
    </div>
</div>