<h1>You are in the request_services show </h1>
Hello <%= @request_service.client.first_name %><br><br>

Service: <%= @request_service.service.title %><br>
Starting date for this service: <%= @request_service.starting_date %><br>
Hours Requested: <%= @request_service.hours %> a week<br>
Your comments for the Health Care Agency: <%= @request_service.comments %><br><br>



 
<%= link_to "DELETE", @request_service, :method => :delete %> <br><br>
<%= link_to "EDIT", edit_request_service_path(@request_service) %> <br>


<br> <br>
<%= link_to "GO BACK TO MY PROFILE", my_profile_path %>


