<h1>This is the edit for client </h1>


<%= form_for @client do |f| %>
  
  
  <%= f.label :first_name %>
  <%= f.text_field :first_name %> <br/>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br/>
  <%= f.label :email %>
  <%= f.text_field :email %><br/>
  <%= f.label :phone %>
  <%= f.number_field :phone %><br/>
  <%= f.label :age %>
  <%= f.number_field :age %><br/>
  <%= f.label :town_you_live_in %>
  <%= f.select :town_you_live_in, options_for_select(["Brooklyn", "Queens", "Bronx", "Jamaica", "Manhattan", "Long Island"]) %><br/>
  <%= f.label :gender %>
  <%= f.select :gender, options_for_select(["Female", "Male"])%><br/>
  <%= f.label :preference_on_aides %>
  <%= f.select :preference_on_aides, options_for_select(["Male", "Female", "It makes no difference"]) %><br/>
  <%= f.label :password %>
  <%= f.password_field  :password %><br>

  <%= f.submit "Register Now!" %>
<% end %>


